@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './variables.scss';
@import './shared.scss';
@import './Button.scss';
@import './Form.scss';
@import './Navbar.scss';
@import './Success.scss';

* {
    font-family: 'Roboto', sans-serif;
    font-weight: $fontRegular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ceph__container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
