.ceph__form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ceph__form {
    width: 100%;
}

// TEXT / NUMBER INPUT
.ceph__form-group {
    width: 100%;
    position: relative;
    height: 50px;
    margin: 1.5rem 0;
    overflow: hidden;
}

.ceph__form-group input {
    /* Make .ceph__input the size of the form */
    width: 100%;
    height: 100%;
    color: $black;
    padding-top: 20px;
    border: none;
    outline: none;
}

.ceph__form-group label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $black;
}

.ceph__form-group label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid $blue;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.ceph__content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.ceph__form-group input:focus + .ceph__label-name .ceph__content-name,
.ceph__form-group input:valid + .ceph__label-name .ceph__content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: $blue;
}

.ceph__form-group input:focus + .ceph__label-name::after,
.ceph__form-group input:valid + .ceph__label-name::after {
    transform: translateX(0%);
}

// CHECKBOX
.ceph__footer-container {
    margin-top: 2rem;
    margin: 1.5rem 0;
}

.ceph__checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px; // move the text past the checkbox
    margin: 1rem 0;
    cursor: pointer;
    font-size: $fontMd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.ceph__checkbox-container input {
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.ceph__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px; // slightly smaller than the padding-left to create spacing
    background-color: $grey;
}
  
.ceph__checkbox-container input:checked ~ .ceph__checkmark {
    background-color: $blue; // background for the checked input
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.ceph__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.ceph__checkbox-container input:checked ~ .ceph__checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.ceph__checkbox-container .ceph__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ceph__questions-container {
    margin: 1rem 0 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $black;
}

// Radio buttons
.ceph__radio-container {
    margin: 1rem 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none; // hide the default 
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 35px; // push the text out
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $black;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $grey;
    border-radius: 100%;
    background: $white;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $blue;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
