.ceph__navbar {
    width: 100%;
    height: 75px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: $fontLight;

    div {
        font-size: $fontLg;
    }

    a {
        text-decoration: none;
        color: #020202;
    }
}
