.ceph__text {
    margin: 0.5rem 0;

    &.lg {
        font-size: $fontLg;
        font-weight: $fontBold;
    }

    &.md {
        font-size: $fontMd;
        font-weight: $fontLight;
    }

    &.error {
        color: $red;
        font-size: $fontMd;
        font-weight: $fontBold;
    }
}

.ceph__bold {
    font-weight: $fontBold;   
}
