// Colours
$black: #2e2e2e;
$blue: #5fa8d3;
$grey: #dedede;
$red: #ff0000;
$white: #fff;

// Font Size
$fontMd: 18px;
$fontLg: 32px;

// Font Weight
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
